.job {
  list-style-type: none;
}
.job > li {
  padding: 6px;
  color: rgb(95, 93, 93);
}

.project {
  list-style-type: none;
}
.project > li {
  padding: 6px;
  color: rgb(95, 93, 93);
}

.skills {
  list-style-type: none;
}
.skills > li {
  padding: 6px;
  color: rgb(95, 93, 93);
}

.tutorial {
  list-style-type: none;
}
.tutorial > li {
  padding: 6px;
  color: rgb(95, 93, 93);
}
/* .blog > div {
  padding: 6px;
  color: rgb(95, 93, 93);
}

.leetcode > li {
  padding: 6px;
  color: rgb(95, 93, 93);
} */
